body {
	background-image: url("indian-guy.jpg");
	background-color: #cccccc;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
}