{% extends "courses/base.html" %} {% block content %}
<table style='width: 100%'>
	<tr>
		<th>
			Lecture id
		</th>
		<th>
			Name
		</th>
		<th>
			Week
		</th>
		<th>
			URL
		</th>
		<th>
			Course
		</th>
	</tr>
	<tr>
		<td>
			{{ lecture.lecture_id }}
		</td>
		<td>
			{{ lecture.name}}
		</td>
		<td>
			{{ lecture.week }}
		</td>
		<td><a href='lecture.url'></a>
			{{ lecture.url }}
		</td>
		{% for course in coursess %}
			{% if lecture.course_id == course.id%}
				<td><a href="{% url 'hackademy_app:courses:detail' course.id %}">
						{{ course.name }}
					</a>
				</td>
			{% endif %}
		{% endfor %}
	</tr>
</table>
{% endblock %}